<h2>Login</h2><br>
<style>
        input {
            margin-bottom: 10px;
        }
</style>
<form method="POST">
    <%-err%>
    Name:<input type="text" name="name" /><br>
    Password:<input type="password" name="password" /><br>
    <input type="submit" />
</form>
    