<h2>Register</h2>
<style>
    input {
        margin-bottom: 10px;
    }
</style>
<form method="POST">
    <%-name%>
    Name:  <input type="text" name="name" /><br>
    Password: <input type="password" name="password" /><br>
    Mobile: <input type="number" name="mobile" /><br>
    Email: <input type="email" name="email" /><br>
    <input type="submit" />
</form>